# Ignore Node modules in all subdirectories
node_modules/

# Ignore environment variables
.env

# Ignore Vite build caches
dist/
.vite/
opensandbox/sandbox-env/

# OpenSandbox Local Data
sandbox-data/
.sandbox-data/

../../__tests__/