@import "tailwindcss";

@theme {
  --color-vscode-bg: #1e1e1e;
  --color-vscode-sidebar: #252526;
  --color-vscode-tab: #2d2d2d;
  --color-vscode-border: #333333;
  --color-vscode-accent: #007acc;
  --color-vscode-textDim: #cccccc;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Beautiful UI font */
  background-color: var(--color-vscode-bg);
  color: white;
}